@import 'tailwindcss';

@theme {
  --color-cinza-100: #161616;
  --color-cinza-200: #191919;
  --color-cinza-300: #252525;
  --color-cinza-400: #454545;

  --color-vermelho-100: #a32522;
  --color-vermelho-200: #b93e3b;
  --color-vermelho-650: #b83633;
  --color-vermelho-750: #8d1614;
  --color-vermelho-950: #320100;

  --color-branco: #f2f2f2;
  --color-cinza-claro-100: #d9d9d9;

  --font-poppins: 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  --font-roboto: 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;

  --animate-slide-in: slideIn 0.4s ease-in-out forwards;
  --animate-blink: blink 1s step-start infinite;
  --animate-jump: jump 5s ease-in-out infinite;

  --breakpoint-xs: 28rem;
  --breakpoint-1sm: 50rem;
  --breakpoint-1lg: 68rem;

  --shadow-neon: 0 0 8px #b93e3b;

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes blink {
    0%,
    100% {
      display: none;
    }
    50% {
      display: inline-block;
    }
  }

  @keyframes jump {
    0%,
    100% {
      transform: translateY(-50px);
    }
    50% {
      transform: translateY(0);
    }
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 1400px;
  @media (width >= 40rem) {
    padding: 0 1rem;
  }
}

@utility animate-1 {
  animation-delay: 100ms;
}
@utility animate-2 {
  animation-delay: 200ms;
}
@utility animate-3 {
  animation-delay: 300ms;
}
@utility animate-4 {
  animation-delay: 400ms;
}
@utility animate-5 {
  animation-delay: 500ms;
}

@layer components {
  .input {
    @apply mt-1 rounded-md bg-cinza-400 px-2 py-2 font-roboto focus:shadow-neon focus:ring-2 focus:ring-vermelho-100 focus:outline-none;
  }

  .link {
    @apply relative inline-block before:absolute before:bottom-0 before:left-0 before:h-[3px] before:w-0 before:rounded-md before:bg-vermelho-100 before:transition-all before:duration-300 before:content-[''] hover:before:w-full;
  }

  .button {
    @apply relative z-10 inline-block cursor-pointer overflow-hidden rounded-md bg-vermelho-100 px-4 py-2 text-sm font-bold text-branco uppercase transition-all duration-200 ease-in;
  }

  .button:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button:after {
    content: '';
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #8d1614;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }

  .button:hover {
    color: #f2f2f2;
  }

  .button:hover:before {
    top: -35%;
    background-color: #8d1614;
  }

  .button:hover:after {
    top: -45%;
    background-color: #8d1614;
  }
}

.slide:hover {
  will-change: transform;
}

.slide li {
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}
